# Core
fastapi==0.116.1
uvicorn[standard]==0.35.0

# Data and Messaging
redis==6.4.0
pika==1.3.2
jsonschema==4.22.0

# Logging and Observability
python-json-logger==3.3.0
prometheus-fastapi-instrumentator==7.1.0
opentelemetry-api==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-exporter-otlp==1.36.0
opentelemetry-instrumentation-fastapi==0.57b0
opentelemetry-instrumentation-pika==0.57b0

# Testing
pytest==8.4.1
pytest-asyncio==1.1.0
