fastapi
uvicorn[standard]
redis
spacy
SQLAlchemy
asyncpg
qdrant-client
python-json-logger
pika
jsonschema
prometheus-fastapi-instrumentator
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-pika
pybreaker
tenacity
httpx

# Testing dependencies
pytest
pytest-asyncio
